{% extends 'bolders/base.html' %}

{% block title %}{{ char.name }}{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>{{ char.name }}</h2>
        <span class="char-class">{{ char.char_class }} {{ char.get_current_level }}</span>
        <div ng-init='tab = 1'>
            <div class="char-menu">
                <ul class="nav nav-tabs">
                  <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Описание</a></li>
                  <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Характеристики</a></li>
                  <li ng-class="{active:tab === 3}"><a href ng-click="tab = 3">Фото</a></li>
                </ul>
                <div class="" ng-show='tab === 1'>
                    <p>{% lorem 5 p random%}</p>
                </div>
                <div class="" ng-show='tab === 2'>
                    <p>{% lorem 5 p random%}</p>
                </div>
                <div class="" ng-show='tab === 3'>
                    {% if char.photo_full %}
                    <img class="full-body" src="{{ char.photo_full.url }}">
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
<div>
    <div class="fb-comment-embed"
       data-href="{{ request.build_absolute_uri }}"
       data-width="450"></div>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>

{% endblock %}
