{% extends 'bolders/base.html' %}

{% block content %}
{% for itm in queryset %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2><a href="{{ itm.get_absolute_url }}">{{ itm.title }}</a></h2>
            <h6>{{ itm.ingamedate }}</h6>
            <p>{{ itm.content|truncatechars:280 }}</p>
            <p><a href="{{ itm.get_absolute_url }}" class="btn btn-primary">Далее...</a></p>
        </div>
    </div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
