{% extends 'base.html' %}

{% block title %}{{ char.name }}{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="row featurette">
    <div class='col-sm-4 col-sm-offset-4'>
        <h1>{{ title }}</h1>
        <h4><a href="{% url 'accounts:register' %}">Регистрация</a></h4>

        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-default">{{ btn_text }}</button>
        </form>
        <p style="margin: 0.4em;">
            <!--<a href="{% url socialauth_begin 'vkontakte-oauth2' %}">Enter VK</a>-->
        </p>
    </div>
</div>
{% endblock %}
