{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="row featurette">
    <div class='col-sm-12'>
        <h2 class="text-left">Персонажи
        <small><a class="text-right" href="{% url 'char_create' %}"><span class="glyphicon glyphicon-plus"></span></a></small>
        </h2>
        <div class="row">
            {% for char in char_list %}
                {% include 'character/char_item.html' %}
            {% endfor %}
        </div>
    </div>
    <div class='col-sm-12'>
        <h2 class="text-left">Кампании
        <small><a class="text-right" href="{% url 'campaign:campaign_create' %}"><span class="glyphicon glyphicon-plus"></span></a></small>
        </h2>
    </div>
</div>
<div class="row">
    {% for campaign in campaign_list %}
        {% include 'campaign/campaign_item.html' %}
    {% endfor %}
</div>

{% endblock %}
