<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carousel Template for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Kurale|Lobster|Marck+Script|Marmelad|Neucha|Philosopher" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'campaign/css/mystyle.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'campaign/js/angular.min.js' %}"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Кампании</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Щемители<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Описание</a></li>
                    <li><a href="#">Персонажи</a></li>
                    <li><a href="#">История</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Квесты</a></li>
                    <li><a href="#">Ачивки</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Щемители</h2>
          <p>Статус: завершена<br>Архивная информация по этой кампании засекречена. Приносим свои извинения за неудобство.</p>
          <p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Small modal</button>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <h2>Подтвердите удаление.</h2>
                  Вы уверены, что хотите удалить %thing%?
                  <br><br>
                  <a class="btn btn-warning" href="#" role="button">Да</a>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                  <br><br>
                </div>
              </div>
            </div>
            <a class="btn btn-default" href="#" role="button">Описание &raquo;</a>
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Щемители 2</h2>
          <p>Статус: завершена<br>Архивная информация по это кампании засекречена. Приносим свои извинения за неудобство.</p>
          <p><a class="btn btn-default" href="#" role="button">Описание &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Дерзители</h2>
          <p>Статус: выполняется<br>Легендарные похождения группы приключенцев, которые хотели бы сделать Мир лучше,
          но, почему-то, всё время получается "как всегда".</p>
          <p><a class="btn btn-danger" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Отслеживание кампаний. <span class="text-muted">Мини-блог.</span></h2>
          <p class="lead">Здесь собрано несколько кампаний по НРИ. В дальнейшем список будет пополняться. Для
          каждой кампании доступна такая информация как: краткое описание, время начала и завершения, список персонажей.</p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Персонажи<span class="text-muted">, учавствующие в кампаниях.</span></h2>
          <p class="lead">Доступен список персонажей по каждой кампании. Также можно ознакомиться с описанием каждого
          персонажа, его основными характеристиками, снаряжением, наградами и квестами.</p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Ачивки! <span class="text-muted">Куда же без них.</span></h2>
          <p class="lead">Список ачивок постоянно пополняется. Наличие ачивки не означает, что она у кого-то есть.
          При наведении мыши на каждую ачивку можно получить подробную информацию о том, за что её можно получить.</p>
        </div>
      </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Наверх</a></p>
        <p>&copy; 2016 Elion, Inc.</p>
      </footer>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
