{% extends 'base.html' %}

{% block menuitem %}
    <li>
      <a href="{% url 'campaign:campaign_detail' campaign.id %}">{{ campaign.title }} <span class="glyphicon glyphicon-search"></span></a>
    </li>
{% endblock menuitem %}

{% block content %}
{% load bootstrap3 %}
{% load bbcode_tags %}

{% for story in stories %}
    <div class="char-panel panel panel-default">
        <div class="panel-body story">
            <div class="row">
                <div class="col-xs-10 text-left">
                    <a class="tag" href="{% url 'campaign:detail_story' campaign_id=campaign.id story_id=story.id %}"><h2>{{ story.title }}</h2></a>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="date">{{ story.ingamedate|date }}</span>
                    {% for tagged_item in story.tagged_items.all %}
                    {% if forloop.first %}
                    <span class="glyphicon glyphicon-tag"></span>
                    {% endif %}
                        <span><a class="tag" href="{% url 'campaign:story_list' campaign_id=campaign.id %}?tag={{ tagged_item.tag|urlencode }}">#{{ tagged_item.tag|lower }}</a></span>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div class="col-xs-2">
                    {% if user == campaign.master.user %}
                    <div class="dropdown pull-right">
                      <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-hidden="true">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{% url 'campaign:edit_story' campaign.id story.id %}">Редактировать</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal{{ story.id }}">Удалить</a></li>
                      </ul>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal{{ story.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Удаление записи</h4>
                          </div>
                          <div class="modal-body">
                            Вы уверены, что хотите удалить запись "{{ story.title }}"?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <a href="{% url 'campaign:delete_story' campaign_id=campaign.id story_id=story.id %}" class="btn btn-danger">Удалить</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <p>{{ story.content|bbcode|truncatechars_html:300|safe }}</p>
                    <p><a class="btn btn-default" href="{% url 'campaign:detail_story' campaign_id=campaign.id story_id=story.id %}">Читать</a></p>
                </div>

            </div>
        </div>
    </div>
{% endfor %}

{% if paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination">

      {% if page_obj.has_previous %}
      <li>
      <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>
      {% else %}
        <li class="disabled">
        <span aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}


    {% for pn in paginator.page_range %}
        {% if page_obj.number != pn %}
            <li><a href="?page={{ pn }}">{{ pn }}</a></li>
        {% else %}
            <li class="active"><a href="#">{{ pn }}</a></li>
        {% endif %}
    {% endfor %}
    <li>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% else %}
        <span aria-hidden="true">&raquo;</span>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
{% endblock content %}



