<!DOCTYPE html>
<html lang="en" ng-app="char-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ролеблог</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Kurale|Lobster|Marck+Script|Marmelad|Neucha|Philosopher" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'campaign/css/mystyle.css' %}">
    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
    {% block additional_css %}
    {% endblock additional_css %}
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'campaign/js/new.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block additional_js %}
    {% endblock additional_js %}

    <script src="{% static 'campaign/js/angular.min.js' %}"></script>
    <script src="{% static 'campaign/js/app.js' %}"></script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ролеблог</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Кампании<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for campaign in active_campaign_list %}
                  <li><a href="{% url 'campaign:story_list' campaign.id %}">{{ campaign.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% block menuitem %}
            {% endblock menuitem %}
          </ul>
          <!--<form class="navbar-form navbar-left">-->
          <!--</form>-->
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:home' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Профиль ({{ user.username }})</a></li>
            {% endif %}
            <li>
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">Войти</a>
            {% endif %}
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      {% block content %}
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="shake-slow col-md-12">
          <h2 class="featurette-heading">Отслеживание кампаний. <span class="text-muted">Мини-блог.</span></h2>
          <p class="lead">Здесь собрано несколько кампаний по <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D1%82%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%80%D0%BE%D0%BB%D0%B5%D0%B2%D0%B0%D1%8F_%D0%B8%D0%B3%D1%80%D0%B0">НРИ</a>. В дальнейшем список будет пополняться. Для
          каждой кампании доступна такая информация как: краткое описание, время начала и завершения, список персонажей.</p>
        </div>
      </div>

      <div class="row featurette">
        <div class="shake-slow col-md-12">
          <h2 class="featurette-heading">Персонажи<span class="text-muted">, учавствующие в кампаниях.</span></h2>
          <p class="lead">Доступен список персонажей по каждой кампании. Также можно ознакомиться с описанием каждого
          персонажа, его основными характеристиками, снаряжением, наградами и квестами.</p>
        </div>
      </div>

      <div class="row featurette">
        <div class="shake-slow col-md-12">
          <h2 class="featurette-heading">Ачивки! <span class="text-muted">Куда же без них. (В разработке)</span></h2>
          <p class="lead">Список ачивок постоянно пополняется. Наличие ачивки не означает, что она у кого-то есть.
          При наведении мыши на каждую ачивку можно получить подробную информацию о том, за что её можно получить.</p>
        </div>
      </div>
      {% endblock content %}
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->

      <footer>
        <p class="pull-right"><a href="#">Наверх</a></p>
        <p>&copy; {% now "Y" %} Elion, Inc.</p>
      </footer>
    </div><!-- /.container -->


  </body>
</html>
