{% extends 'base.html' %}

{% block title %}{{ char.name }}{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        {% if char.photo %}
        <img class="small-logo" src="{{ char.photo.url }}">
        {% else %}
        {% load staticfiles %}
        <img class="small-logo" src="{% static 'campaign/images/ph_small.jpg' %}">
        {% endif %}
        <h2>{{ char.name }}</h2>
        <span class="char-class">{{ char.char_class }}</span>
        <h2>
        {% if char.campaign %}
            Участвует в кампании <a href="{% url 'campaign:story_list' char.campaign.id %}">"{{ char.campaign.title }}"</a>
        {% else %}
            Пока не участвует в кампании
            {% endif %}
        </h2>
        <div>
            <div class="char-menu" ng-controller="CharPanelController as cPanel">
                <ul class="nav nav-tabs" ng-init='cPanel.selectTab({{ panel }})'>
                  <li ng-class="{active:cPanel.isSelected(1)}"><a href ng-click="cPanel.selectTab(1)">Описание</a></li>
                  <li ng-class="{active:cPanel.isSelected(2)}"><a href ng-click="cPanel.selectTab(2)">Характеристики</a></li>
                  <li ng-class="{active:cPanel.isSelected(3)}"><a href ng-click="cPanel.selectTab(3)">Фото</a></li>
                </ul>
                <div ng-show='cPanel.isSelected(1)'>
                    <br>
                    <p>{{ char.description }}</p>
                </div>
                <div ng-show='cPanel.isSelected(2)'>
                    <br>
                    <p>Здесь будут жить характеристики персонажа. Следите за обновлениями.</p>
                </div>
                <div ng-show='cPanel.isSelected(3)'>
                    {% if char.photo_full %}
                    <img class="full-body" src="{{ char.photo_full.url }}">
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
<div>
    <div class="fb-comment-embed"
       data-href="{{ request.build_absolute_uri }}"
       data-width="450"></div>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>

{% endblock %}
